/**
 * Estilos para el editor de Gutenberg
 */

.wp-block-custom-link-wrapper {
    outline: 1px dashed #1e1e1e;
    outline-offset: -1px;
}

.wp-block-custom-link-wrapper:hover {
    outline: 2px dashed #1e1e1e;
}

.wp-block-custom-link-wrapper.is-selected {
    outline: 2px solid #1e1e1e;
}