.svg-preview {
    margin-top: 20px;
    text-align: center;
}

.svg-preview p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    color: #1e1e1e;
}

.svg-preview-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    /* SIN fondo, SIN borde, SIN padding extra */
}

.svg-preview-content svg {
    max-width: 100%;
    height: auto;
}
